<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% assign tab_title = site.title %}
{% if page.title and page.title != site.title %}
  {% assign tab_title = site.title | append: " - " | append: page.title %}
{% endif %}
    <title>{{ tab_title | escape }}</title>
{% seo title=false %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/custom.css" | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body class="{{ page.body_class | default: 'standard-page' }}">
    <div class="wrapper site-wrapper">
      <section class="site-content">
        {{ content }}
      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/site.js" | relative_url }}"></script>
  </body>
</html>
